body.homepage-1 {
  background-color: #ffffff;
  color: #000000;
}

body.bonjour-1 {
  background-color: #ffffff;
  color: #000000;
}

body.split-1 {
  background-color: #ffffff;
  color: #000000;
}


body.painting-1 {
  background-image: url("/images/tableau foret.svg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.painting-2 {
  background-image: url("/images/tableauchateau.svg");
  width: 100%;
  height: 100vh;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.painting-3 {
  background-image: url("/images/tableau mer.svg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.painting-4 {
  background-image: url("/images/tableau sanglier.svg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


