body.homepage-1 {
  background-color: #ffffff;
  color: #000000;
}

body.bonjour-1 {
  background-color: #ffffff;
  color: #000000;
}

body.split-1 {
  background-color: #ffffff;
  color: #000000;
}

body.painting-1 {
  background-color: #000000;
  color: #ffffff;
}

body.painting-2 {
  background-color: #000000;
  color: #ffffff;
}

body.painting-3 {
  background-color: #000000;
  color: #ffffff;
}

body.painting-4 {
  background-color: #000000;
  color: #ffffff;
}

body.painting-5 {
  background-image: url("/images/painting-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; // optional
  color: #fff;
}

