{{ define "main" }}
  {{ if .Params.title }}
    <h1>{{ .Params.title }}</h1>
  {{ end }}

  {{ if .Params.description }}
    <p class="description">{{ .Params.description }}</p>
  {{ end }}

  {{ if .Params.question }}
    {{ partial "question.html" .Params.question }}
  {{ end }}

  {{ if .Params.button }}
    {{ partial "button.html" .Params.button }}
  {{ end }}

    {{ if .Params.choice }}
    {{ partial "choice.html" .Params.choice }}
  {{ end }}

    {{ if .Params.suivantbutton }}
    {{ partial "suivantbutton.html" .Params.suivantbutton }}
  {{ end }}

      {{ if .Params.buttonsuivantcache }}
    {{ partial "buttonsuivantcache.html" .Params.buttonsuivantcache }}
  {{ end }}

        {{ if .Params.buttonaccueil }}
    {{ partial "buttonaccueil.html" .Params.buttonaccueil }}
  {{ end }}
{{ end }}
