<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <!-- CSS -->
  {{ partial "head/css.html" }}
</head>
<body class="{{ .Params.bodyclass }}">
  <main>
    {{- block "main" . }}{{- end }}
  </main>

  {{ if .Params.js }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Charger le JS personnalisé -->
    {{ $js := resources.Get (printf "js/%s" .Params.js) }}
    {{ if $js }}
      <script src="{{ $js.RelPermalink }}"></script>
    {{ end }}
  {{ end }}
</body>
</html>